@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

%editMode{
  // Edit mode
    textarea,
    Textarea {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 40px;
    line-height: inherit;
    margin: 0;
    outline: 0;
    overflow: hidden;
    resize: none;
    text-align: inherit;
    white-space: pre;
    width: 100%;

    &::placeholder,
    &::-webkit-input-placeholder {
      color: "[theme: neutralSecondary, default: #666666]"!important;
    }
  }
}

%animation {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.landingImageCarousel {
  .title {
    @include ms-font-xxl;
    font-size: 36px;
    font-weight: 400 !important;
  }

  .description {
    @include ms-font-xl;
    font-weight: 400 !important;
  }

  .slideImage {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

    /* Set a specific height */
    height:450px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @extend %animation;

  }

  .slideText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    @extend %editMode;
  }
  .slideTextRight {
    color: white;
    position: absolute;
    right: 0px;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    width: 30%;
    overflow-wrap: break-word;
    word-break: break-all;
    @extend %editMode;
  }
  .slideTextLeft {
    color: white;
    position: absolute;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 30%;
    overflow-wrap: break-word;
    word-break: break-all;
    @extend %editMode;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 95%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    animation: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: $ms-color-themePrimary;
  }

  @media(max-width:767px) {
    .slideImage {
      /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

      /* Set a specific height */
      height: 200px;

      /* Position and center the image to scale nicely on all screens */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .slideText,
    .slideTextRight,
    .slideTextLeft{
      width: 100%;
      .title{
        font-size: 18px;
      }
      .description{
        font-size: 12px;
      }
    }
  }
}
